.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background:linear-gradient(rgba(76, 76, 76, 0.448),
    rgba(0, 0, 0, 0.483)), 
    url('../media/registerBG.jpg');
    background-size: cover;

}

.registerTitle {
  font-size: 100px;
  font-family: ageyaOB;
  font-weight: bold;
  color: white;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
  
    padding: 10px;
    background-color: rgba(232, 232, 232, 0);
    border: none;
    border-bottom: 2px solid black;  
 
 
  }
  .registerForm > label {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerInput::placeholder{
    filter: blur(0.5px);
    color: rgb(226, 226, 226);
  }
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(247, 247, 247, 0.87);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid black;
    border-style:calc();
    text-align: center;
  }
  
  .registerLoginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.733);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid black;
    border-style:calc();
    text-align: center;
  }

  .registerButton:hover {
    background-color: aliceblue;

  }
  
  