@font-face {
  font-family: ageya;
  src: url('../fonts/Ageya-Regular.otf');
} 
@font-face {
  font-family: ageyaOB;
  src: url('../fonts/Ageya-Oblique.otf');
}


.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background:linear-gradient(rgba(76, 76, 76, 0.448),
    rgba(0, 0, 0, 0.483)), 
    url('../media/loginBg.jpg');
  background-size: cover;

}

.loginTitle {
    font-size: 80px;
    font-family: ageyaOB;
    font-weight: bold;
    color: white;
  }
  
  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: rgba(232, 232, 232, 0);
    border: none;
    border-bottom: 2px solid black;    

 
 
  }
  .loginForm > label {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginInput::placeholder{
    filter: blur(0.5px);
    color: rgb(226, 226, 226);
  }
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(94, 0, 201, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid black;
    border-style:calc();
    text-align: center;
  }

  .loginButton:disabled {
    cursor: not-allowed;
    background-color: #30f1006b;
  }

  .loginButton:hover {
    background-color: rgba(245, 245, 245, 0.199) ;
    
    
  }
  
  .loginRegisterButton {
     cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    margin: 10px;
    padding: 10px;
    padding-left: 2rem;
    padding-right:2rem ;
    border: none;
   color: rgb(0, 0, 0);
   border: 2px solid black;
   border-style:calc();
   text-align: center;
   
  }
  .loginRegisterButton:hover
   {
    background-color: rgba(255, 255, 255, 0);
  }

  .textocute  {
    font-family: 'poppins',sans-serif;
 
  }

  
  