.sidebar {
    flex:3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sideBarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 20px;
    padding: 5px;
    width: 80%;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}
.aboutmetitle {
    margin: 20px;
    padding: 5px;
    width: 80%;

    font-family: 'poppins', sans-serif;
    font-size: 22px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}


 .sidebarImg {
    position: relative;
    left: 15%;
   width: 70%;
   border-radius: 15%;
}


.sidebarItem > p {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    

}
.sidebarItem > p::first-letter {
    font-size: 25px;
    text-transform: uppercase;
}

.scat{
    position: relative;
    left: 25%;
}


.link{
    font-family: 'Poppins', sans-serif;
}
.sidebarList{
    list-style: none;
    margin-left: 7%;
    margin-bottom: 30px;
    align-items: center;
    
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}
.sidebarSocial {
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}