
/* Estilos generales */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra */
    background-color: #01476d; /* Color de fondo de la barra */
  }
  
  /* Estilos cuando el cursor está sobre la barra */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; /* Color de la barra cuando está en hover */
  }
  
  /* Estilos de la barra */
  ::-webkit-scrollbar-thumb {
    background-color: #000474; /* Color de la barra */
    border-radius: 5px; /* Radio de borde de la barra */
  }
  
.header {
    margin-top:60 ;
  display: flex;
border: 6px solid black;
border-right: none;
}

.headerTitles {
  border: 5px solid black;
  text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(0, 0, 0);
    flex-direction: column;
    
}

.headerTitleSm {
   
  text-align: center;
    font-size: 50px;
    font-family: 'Scheherazade New', serif;
    letter-spacing: -3px;
    
}

.headerText {
  
  width: 50%;
  margin-top: 60%;
  text-align: center;
  font-size:40px;
  font-family: 'Scheherazade New', serif;
  font-weight: 300;
  letter-spacing: -3px;
  line-height: 40px;

}
.headerTitleLg{
   font-size: 200px;
   font-family: 'Tinos', serif;
   letter-spacing: -23px;
   font-weight: 400;

}



.headerImg {
  border: 5px solid black;
 width: 1160px;
 height: 1199px;
 border-right: none;
 
    object-fit: cover;
    

}
